@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');

:root{
  --blue: #5572A2;
  --grey: #A6A6A6;
  --black: #111111;
}

body {
  color: var(--blue);
  background: var(--black);
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

body::selection {
  color: var(--blue);
}

body span {
  color: var(--grey);
}

img {
  width: 200px;
}

header {
  text-align: center;
}

header p {
  color: var(--grey);
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: lightgrey;
}

a:hover {
  text-decoration: underline;
}

main p {
  margin: 0;
}

main pre {
  margin-top: 0;
}

main section {
  padding: 25px;
  padding-bottom: 10px;
}

main ul, main ol {
  color: lightgrey;
}

table {
  border: 1px solid var(--grey);
  margin-top: 15px;
  margin-bottom: 25px;
  color: var(--grey);
  text-align: center;
  border-collapse: collapse;
}

table th {
  font-weight: 400;
}

table th, table tr, table td {
  border: 1px solid var(--grey);
  padding: 5px;
}

input {
  background: var(--black);
  border: 1px solid var(--grey);
  height: 30px;
  width: 200px;
  color: var(--blue);
  padding: 5px;
}

#message {
  margin-top: 10px;
  width: 417px;
  height: 60px;;
}

button {
  background: none;
  color: var(--blue);
  border: 1px solid var(--grey);
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
}
